* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oxygen", sans-serif;
  width: 100vw;
  height: 100vh;
  transition: 0.4s;
}
.outbox {
  margin: 20 auto;
  width: 60vw;
  height: 40vw;
  border: 2px orange dashed;
}

.left,
.right {
  margin: 2vh auto;
  width: 25%;
  height: 25%;
  display: inline-block;
  border: 2px red dashed;
}
.logo-span {
  margin: 5 auto;
  width: 40vw;
  height: 40wv;
  border: 2px blue dashed;
  position: relative;
}
a {
}
.bottom {
  margin: 2vh auto;
  border: 2px red solid;
}
