* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oxygen", sans-serif;
  transition: 0.4s;
  width: 100vw;
  height: 100vh;
}
.container {
  margin: 0;
  width: 90vw;
  height: 60vh;
  border: 2px green dashed;
  display: flex;
  position: relative;
}
.middle {
  border: 2px rebeccapurple dashed;
}
.left,
.right {
  width: 40vw;
  height: 30vh;
  border: 2px red dashed;
}

.left > div {
  margin-left: 15%;
  width: 15vw;
  height: 10vh;
  border: 2px blue dashed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  text-decoration: none;
}
.left div span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 15vw;
  height: 10vh;
  padding: 25px 10px;
}

.right {
  border: 2px orange dashed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form {
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
input[name="password"],
input[name="email"] {
  margin-left: 25%;
  width: 250px;
  padding: 5px 5px;
  border: none;
  outline: none;
  background-color: white;
  border-bottom: 2px gray solid;
  text-align: center;
  opacity: 0.8;
}

input[name="password"] {
  position: relative;
}
a {
  padding-left: 10px;
  border-left: 2px inset;
  text-decoration: none;
  color: white;
}
i {
  padding-right: 5px;
  color: white;
}
#user {
  position: absolute;
  margin-left: 125px;
  margin-bottom: 40px;
  color: gray;
  z-index: 1;
}
#pass {
  position: absolute;
  margin-left: 125px;
  color: gray;
  z-index: 1;
}

.fb {
  background-color: #4267b2;
}
.google {
  background-color: #db3236;
}
.twitter {
  background-color: #1da1f2;
}
/* FB #4267B2 */
input[name="remember"] {
  position: absolute;
  /* width: 20%;
  height: 3%;
  top: 22vh; */
}

#rem {
  position: absolute;
  width: 2;
}
input[type="button"] {
  position: absolute;
}
.bottom {
  display: flex;
  align-self: baseline;
  border: 2px blue solid;
  color: #1da1f2;
  position: absolute;
  top: 260px;
  left: 400px;
}
.bottom {
  border: 2px solid gray;
  width: 1170px;
  height: 5vh;
  background-color: lightcyan;
  border: 2px black solid;
  position: absolute;
  top: 230px;
  left: 0px;
}

.bottom-span > a {
  text-align: center;
  color: blue;
  border: none;
}
