* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oxygen", sans-serif;
  width: 100vw;
  height: 100vh;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* the whole log */
.container {
  margin: 0;
  width: 40%;
  height: 50%;
  border: 2px green dashed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* the or element */
.middle {
  border: 2px rebeccapurple dashed;
}
/* the login and sign in divs */
.left,
.right {
  width: 40vw;
  height: 30vh;
  border: 2px red dashed;
}
/* left login div */
.left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-all {
  border: 5px rgb(242, 0, 255) solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .left div span a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 15vw;
  height: 10vh;
  padding: 25px 10px;
} */

/* .right {
  border: 2px #e5e4e8 solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
/* form {
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
} */
/* input[name="password"],
input[name="email"] {
  margin-left: 25%;
  width: 250px;
  padding: 5px 5px;
  border: none;
  outline: none;
  background-color: white;
  border-bottom: 2px gray solid;
  text-align: center;
  opacity: 0.8;
} */

/* input[name="password"] {
  position: relative;
}
a {
  padding-left: 10px;
  border-left: 2px inset;
  text-decoration: none;
  color: white;
}
i {
  padding-right: 5px;
  color: white;
}
#user {
  position: absolute;
  margin-left: 125px;
  margin-bottom: 40px;
  color: gray;
  z-index: 1;
}
#pass {
  position: absolute;
  margin-left: 125px;
  color: gray;
  z-index: 1; 
}*/

.fb {
  background-color: #517cc0;
}
.google {
  background-color: #df4a32;
}
.twitter {
  background-color: #65cdf0;
}

/* input[name="remember"] {
  position: absolute;
  width: 20%;
  height: 3%;
  top: 22vh; 
} */

/* remember me */
/* #rem {
  position: absolute;
  width: 2;
} */
/* login button */
/* input[type="button"] {
  position: absolute;
} */
/* the bottom div */
footer {
  width: 100%;
  height: 8%;
  background-color: #f2f9ff;
  display: block;
  color: #1da1f2;
  position: absolute;
  top: 80%;
  right: 0%;
  /* border: 3px violet dashed; */
}
/* place the Register now and Forgotten under the 2 containers */
footer .bottom {
  display: flex;
  justify-content: space-between;
  border: 2px red solid;
}
/* register div container*/
footer div div:nth-child(1) {
  border: 2px blue solid;
  display: flex;
  width: 50%;
  height: 3%;
  justify-content: flex-end;
}
/* forgotten div container */
footer div div:nth-child(3) {
  border: 2px blue solid;
  display: flex;
  width: 50%;
  height: 3%;
  justify-content: flex-start;
}
footer div span:nth-child(2) {
  height: 1.5rem;
  width: 0.2rem;
  position: absolute;
  background-color: lightgray;
  border-radius: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .bottom-span {
  display: flex;
} */
/* .bottom-span > a {
  text-align: center;
  color: blue;
  border: none;
} */
/* .middle {
  width: 2.5rem;
  height: 2.5rem;
  align-content: center;
  border: 5px solid e5e4e8;
  color: gray;
  content: "";
  border-radius: 50%;
  top: 4vh;
  left: 400px;
} */
