.container {
  width: 54%;
  height: 45vh;
  border: 2px $border-color-gray solid;
  border-radius: 1%;
  @include flex(center, center);
  flex-wrap: wrap;
  background-color: $bg-color-white;
}
.logo {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
