.container {
  width: 54%;
  height: 45vh;
  border: 2px gray solid;
  border-radius: 1%;
  @include flex($center, $center);
  flex-wrap: wrap;
  background-color: $bg-color-white;
}
.logo {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* logo and login selector */
section {
  article:nth-child(1),
  article:nth-child(3) {
    width: 25vw;
    height: 40vh;
    @include flex(space-around, center);
  }
}
/* size OR */
.middle {
  font-size: 1.5rem;
}

/* login  */
section {
  article:nth-child(1) div {
    width: 16vw;
    height: 8vh;
    /* border: 5px purple dashed; */
    border-radius: 1%;
    display: flex;
    font-size: 1.1rem;
    /* facebook */
    article:nth-child(1) > div:nth-of-type(1) {
      background-color: $bg-facebook-color;
      color: $fonts-color;
    }
    /* google */
    article:nth-child(1) > div:nth-of-type(2) {
      background-color: $bg-google-color;
      color: $fonts-color;
    }
    /* twitter */
    article:nth-child(1) > div:nth-of-type(3) {
      background-color: $bg-twitter-color;
      color: $fonts-color;
    }
    /* content selector */
    article:nth-child(1) div {
      display: flex;
    }
    /* link selector - should be clickable on all */
    article:nth-child(1) div a {
      width: 16vw;
      height: 8vh;
      text-decoration: none;
      color: $fonts-color;
      @include flex(center, center);
    }
    /* bar between icon and link */
    article:nth-child(1) div a span {
      height: 1rem;
      width: 0.1rem;
      background-color: $border-color-gray;
      @include flex(center, center);
      margin: 0 0.5rem 0 0.5rem;
    }
    /* form */
    article:nth-child(3) > form {
      width: 35vw;
      height: 35vh;
      @include flex(space-around, center);
      flex-direction: column;
      font-weight: bold;
    }
    article:nth-child(3) > form h1 {
      font-size: 1.6rem;
    }
    /* email */
    article:nth-child(3) > form div:nth-of-type(1) > input[type="email"] {
      border: none;
      outline: none;
      width: 13rem;
      border-bottom: 2px solid gray;
      font-size: 1.1rem;
    }
    /* password */
    article:nth-child(3) > form div:nth-of-type(2) > input[type="password"] {
      border: none;
      outline: none;
      width: 13rem;
      border-bottom: 2px $border-color-gray solid;
      font-size: 1.1rem;
    }
  }
  .container .login form input[type="email"],
  .container .login form input[type="password"] {
    text-align: center;
    padding: 0.2rem 0.6rem;
  }
}
